# Build documentation using Sphinx

name: Build docs

on:
  push:
    branches:
      - "61-add-sdx-release-as-submodule-for-canonical-release-notes"
  pull_request:

permissions:
  contents: read

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out sources
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"
          cache: 'pip'  # cache pip dependencies
          cache-dependency-path: requirements.txt

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt

      - name: Build HTML documentation with Sphinx
        run: |
          rm -rf build
          python -m sphinx -E -a -W -b html -d ./build/doctrees ./source ./build/html
        
      # See https://github.com/actions/upload-artifact
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: sdx-docs-html
          path: build/html
          if-no-files-found: error
